extends layout

block content

  h1 Contact Information
  a(href="http://localhost:3000/new") Add Contact 
  p
  a(href="http://localhost:3000/delete") Delete Contact 
  p
  a(href="http://localhost:3000/list") List Contacts
  p
  a(href="http://localhost:3000/search") Search Contact