h1 Following are the details of the person

p

table
  tr
    
    th Name
    th Email
    th Phone

- for (var i = 0; i < det.length; ++i) {
  tr
  td=names= det[i].name
  td=names= det[i].email
  td=names= det[i].phone
- }




